<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">        
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						Upcoming Productions
					</div>
					<% if @current_user.administrator? %>
						<div class="col-md-6 heading-btn">
							<%=link_to "Create New Production", new_production_path(), :class=>"btn btn-default" %>
						</div>
					<% end %>
				</div>
			</div>
			<div class = "list-group">
        <table class="table" style="margin-bottom:0px; vertical-align:center">
          <thead>
          </thead>
					<tbody>
						<% @production_list.each do |production| %>
            
            <tr>
              <td>
                <a href="<%= production_path(production) %>" class="list-group-item" ><b><%=production.title%></b> - <b><%=production.organization.name%></b>
                    <br><%= production.description %></a>
                </td>
                <td width="15%" style="text-align:center; vertical-align:middle"><%= production.theater.name %></td>
                <td width="5%" style="text-align:right; vertical-align:middle">Opens <%= datepicker_format(production.start_date) %></td>
                <% if @current_user.administrator? || @current_user.administrator?(production.organization) %>  
                <td width="7%" style="text-align:center; vertical-align:middle">
                  <%= link_to "", edit_production_path(production), class: "btn glyphicon glyphicon-edit"%>
                  <%= link_to "", production_path(production), class: "btn glyphicon glyphicon-trash", style:"color:red", method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
                <% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>