<div class="row">
  <div class="col-md-4">
    <%= form_for :supervisor, url: override_request_supervisors_path, method: "put" do |f|%>
      <%= f.label :code %> <%= f.password_field :code %>
      <%= hidden_field_tag "organization_id", params[:organization_id] %>
      <%= f.submit "Confirm" %>
    <% end %>
  </div>
</div>